// Use Mixins File
@use "Mixins";

// Start Section Home
.home{
	@include Mixins.mainStyleParent;
	background-color:#eee;

	// Start Img
	.img-back{
	    @include Mixins.pageBackImg;
	}
	// End Img

	// Start Content Of Home
	.content-home{
		@include Mixins.mainContent;

		// Start Section Of Content in Home
		.bx-content{
			background-color:#f8f9fab0;
			border-radius:.4rem;
		}
		// End Section Of Content in Home
	}
	// End Content Of Home

	// Start Main Img Back
	.main-img-back{
	    @include Mixins.mainBackImg;
	}
	// End Main Img Back
}
// End Section Home