// Use Mixins File
@use "Mixins";

// Start Section Search
.search{
	@include Mixins.mainStyleParent;
	background-color:#ccc;

	// Start Img
	.img-back{
	    @include Mixins.pageBackImg;
	}
	// End Img

	// Start Content Of Search
	.content-search{
		@include Mixins.mainContent;

		// Start Section Of Content in Search
		.bx-content{
			background-color:#f8f9fab0;
			border-radius:.4rem;
		}
		// End Section Of Content in Search
	}
	// End Start Content Of Search

	// Start Main Img Back
	.main-img-back{
	    @include Mixins.mainBackImg;
	}
	// End Main Img Back
}
// Start Section Search